<style>
    #columnas{
   column-count:4;
   column-gap:20px;
   column-rule:4px dotted gray;
}
</style>
<div id="columnas">
    <li>Ataúlfo</li>
    <li>Sigerico</li>
    <li>Walia</li>
    <li>Teodoredo</li>
    <li>Turismundo</li>
    <li>Teodorico</li>
    <li>Eurico</li>
    <li>Alarico II</li>
    <li>Gesaleico</li>
    <li>Amalarico</li>	
    <li>Teudis</li>
    <li>Teudiselo</li>				
    <li>Agila I</li>
    <li>Atanagildo</li>
    <li>Liuva</li>
    <li>Leovigildo</li>
</div>