<head>

</head>
<body>
    <div class="page-wrapper">


        <header class="header">

            <div style='padding-left:20px;padding-right:20px;background: #006DF6'>


                <div class="header-right w-lg-max ml-0">
                    <a href="../" class="logo">
                        <img src="{{ url_for('static', filename='images/logo-roalcom.png') }}"
                            style="width:150px;height:32.00px;margin:15px;" alt="Logo">
                    </a>


                    <div class="header-icon header-search header-search-inline header-search-category w-lg-max pl-3">
                        <a href="#" class="search-toggle" role="button"></a>




                        <div class="header-search-wrapper">
                            <input type="search" autocomplete="off" class="form-control1"
                                style=" width:580px; text-indent: 5px;   margin-left: 215px;" name="q" id="busqueda"
                                placeholder="  Busqueda productos " required>


                            <button class="btn" type="submit"
                                style="background:#08C ;color:white;display: flex; align-items: center; justify-content: center;">
                                <i class="fas fa-search"></i>
                            </button>





                                <div class="social-icons">
                                    <a href="https://www.facebook.com/corporacionroalcomsac" class="social-icon" style="padding: 10px; margin-left: 50px;" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://www.tiktok.com/@corporacionroalcom" class="social-icon" style="padding: 10px; margin-left: 10px;" target="_blank">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                    <a href="https://www.instagram.com/roalcomsac/" class="social-icon" style="padding: 10px; margin-left: 10px;" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div><!-- Fin de .social-icons -->
                    
                                
                                

                        </div><!-- End .header-search-wrapper -->
                    </div><!-- End .header-search -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
            
        <div class="responsive-menu">
            <div style="background: #08C; padding-right: 300px;">
                <div class="container" style='background: #08C;'>
                    <nav>
                        <input type="checkbox" id="check">
                        <label for="check" class="checkbtn">
                            <div class="center-icon">
                                <i class="fas fa-bars"></i>
                            </div>
                        </label>
                        <br>
                        <ul style="padding-left: 10%;">
                            <li><a class="" href="../">INICIO</a></li>
                            <li><a class="" href="/nosotros">NOSOTROS</a></li>
                            <li><a class="" href="/vision">VISIÓN</a></li>
                            <li><a class="" href="/mision">MISIÓN</a></li>
                            <li><a class="" href="/contacto">CONTACTO</a></li>
                            <li><a href="productos"> CATALOGO</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
            

        </header><!-- End .header -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

</body>