
<div class="features-section bg-gray">
    <div class="container">
      <h2 class="subtitle">DATOS DE CONTACTO</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="feature-box bg-white" style="text-align: center;">
            <i class="fa fa-phone fa-rotate-90"></i>
            <li>
              <span class="contact-info-label"></span>
              <a href="tel:990 015 093" style="color: #000; font-weight: bold;">990015093</a>
              <a href="tel:999 010 882" style="color: #000; font-weight: bold;">/ 999010882</a>
              <a href="tel:968 469177" style="color: #000; font-weight: bold;">/ 968469177</a>


            </li>
          </div><!-- End .feature-box -->
        </div><!-- End .col-lg-4 -->

        <div class="col-lg-4">
          <div class="feature-box bg-white" style="text-align: center;">
            <i class="fa fa-envelope"></i>

            <div class="feature-box-content">
              <li><a href="mailto:ventas@roalcomperu.com"
                  style="color: #000; font-weight: bold;">ventas@roalcomperu.com </a>
              </li>
            </div><!-- End .feature-box-content -->
          </div><!-- End .feature-box -->
        </div><!-- End .col-lg-4 -->

        <div class="col-lg-4">
          <div class="feature-box bg-white" style="text-align: center;">
            <i class="fa fa-route"></i>
            <li>
              <div class="feature-box-content">
                <a href="https://www.google.com/maps/place/ROALCOM+Sac/@-12.0441114,-77.0483655,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c9a00cd9d949:0xefc1bde6d4cfaf3e!8m2!3d-12.0441114!4d-77.0457852!16s%2Fg%2F11gjt2blnk?entry=ttu"
                  style="color: #000; font-weight: bold;">
                  Av. Argentina N°339 Int.12 Pabellón A<br> C.C. La Bellota – Lima <br>
                </a>
            </li>



          </div><!-- End .feature-box-content -->
        </div><!-- End .feature-box -->
      </div><!-- End .col-lg-4 -->
    </div><!-- End .row -->
  </div><!-- End .container -->