
<div class="footer-middle">
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="widget">
          <h4 class="widget-title">Datos de contacto</h4>
          <ul class="contact-info"  >
            <li>
              <span class="contact-info-label" style="width: 200px;">Dirección:</span><a
                href="https://www.google.com/maps/place/ROALCOM+Sac/@-12.0441114,-77.0483655,17z/data=!3m1!4b1!4m6!3m5!1s0x9105c9a00cd9d949:0xefc1bde6d4cfaf3e!8m2!3d-12.0441114!4d-77.0457852!16s%2Fg%2F11gjt2blnk?entry=ttu">
                Av. Argentina N° 339 Int. 12 Pabellón A<br> C.C. La Bellota – Lima <br>
          
            </li>
          </ul>
          <ul>
            <li>
              <span class="contact-info-label" style="width: 250px;">Teléfonos:</span>
              <a href="tel:990 015 093">990 015 093</a>
              <a href="tel:999 010 882">/ 999 010 882</a>
              <a href="tel:968 469177">/ 968 469 177</a>


            </li>
          </ul>
          <ul>
            <li>
              <span class="contact-info-label">Correo:</span> <a
                href="mailto:ventas@roalcomperu.com <br> ventas@roalcomperu.com">ventas@roalcomperu.com <br></a>
            </li>
          </ul>
          <ul>
            <li>
              <span class="contact-info-label">DÍAS / HORAS LABORABLES</span>
              Lun - Vie: 9:00 am - 6:00 pm
            </li>
          </ul>
          <div class="social-icons">
            <a href="https://www.instagram.com/roalcomsac/" class="social-icon social-instagram fab fa-instagram"
              target="_blank" title="Instagram">
            </a>
            <a href="https://www.tiktok.com/@corporacionroalcom" class="social-icon social-twitter fab fa-tiktok"
              target="_blank" title="Twitter"></a>
            <a href="https://www.facebook.com/corporacionroalcomsac" class="social-icon social-facebook fab fa-facebook-f"
              target="_blank" title="Facebook"></a>
          </div><!-- End .social-icons -->
        </div><!-- End .widget -->
      </div><!-- End .col-lg-3 -->

      <div class="col-lg-9 col-md-8">
        <div class="widget widget-newsletter">
          <h4 class="widget-title">SUSCRIBIRSE AL BOLETÍN INFORMATIVO</h4>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <p>Obtenga toda la información más reciente sobre eventos, ventas y ofertas. Regístrese para recibir
                el boletín hoy</p>
            </div><!-- End .col-lg-6 -->

            <div class="col-lg-6 col-md-12" style="margin: -5%;">
              <form action="https://formsubmit.co/diegomar113@gmail.com" method="POST" class="d-flex mb-0 w-100">
                <input type="email" class="form-control mb-0" placeholder="Dirección de correo" required>
                <input type="hidden" name="_next" value="#">
                <input type="hidden" name="_captcha" value="false">
                <input type="submit" class="btn btn-primary shadow-none" value="Suscribirse">
              </form>
            </div><!-- End .col-lg-6 -->
          </div><!-- End .row -->
        </div><!-- End .widget -->
        <div class="row">
          <div class="col-sm-6">
            <div class="widget">
              <h4 class="widget-title">Sobre nosotros</h4>
              <ul class="links link-parts row mb-0">
                <div class="link-part col-lg-6 col-md-12">
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="vision.html">Visión</a></li>
                  <li><a href="mision.html">Misión</a></li>
                </div>
                <div class="link-part col-lg-6 col-md-12">

                  <li><a href="index.html">Inicio</a></li>
                  <li><a href="contacto.html">Contacto</a></li>
                  <li><a href="contacto.html">Productos</a></li>
                </div>

              </ul>
            </div><!-- End .widget -->
          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-lg-9 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .footer-middle -->

<div class="container">
  <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
    <p class="footer-copyright py-3 pr-4 mb-0">&copy; 2021 roalcom S.A.C. Todos los derechos reservados.</p>

  </div><!-- End .footer-bottom -->
</div><!-- End .container -->