<h2 class="section-title" style="padding-top:10px;padding-left:15px;">NUESTRAS MARCAS DESTACADAS.</h2>
<div class="embed-container">
    <body>
        <div class="page-wrapper">
            <main class="main">
                <div class="swiper mySwiper" style="padding:14px;text-align:center;">
                    <div class="swiper-wrapper">


                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-vainsa.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-concyssa.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-italgrif.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-elster.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-nicoll.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-pavco.png') }}"   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-tuboplast.png') }}"
                                  style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-trebol.png') }} "   style='width:200px;height:200px; margin: 0 auto'>


                        </div>




                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/logo-sanking.png') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>
                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/fotorz87GUnd.jpg') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>
                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/fotoqJLUyHBe.jpg') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>
                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/fotozepgxAfR.jpg') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>
                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/fotoq1K1saGs.jpg') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>

                        <div class="swiper-slide" style="padding:4px;border:1px solid #0093e2;color:black;">
                            <img src="{{ url_for('static', filename='images/galeria3/fotohkxlU781.jpg') }} "   style='width:200px;height:200px; margin: 0 auto'>
                        </div>

                    </div>
                    <br>
                </div>
                <div class="mb-4"></div><!-- margin -->
            </main><!-- End .main -->
        </div><!-- End .page-wrapper -->
    </body>
</div>