



      <div style='padding-left:15px;padding-right:15px;'>
        <div>
          <h2 class="section-title">ULTIMOS PRODUCTOS AGREGADOS</h2>
          
          <div class="products-slider owl-carousel owl-theme dots-top" style="display: block;" >
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;display: block; ">
              <figure style="text-align:center;">
                <a href="../producto">
                  <img src=""
                    style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
              </figure>
              <div class="product-details">


                <a href="{{ url_for('static', filename='templates/producto.html') }}" style="color:black;"><strong>ABRAZADERA DE HIERRO DUCTIL CON ZUNCHO
                    DE ACERO</strong></a>



                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="{{ url_for('static', filename='templates/producto.html') }}">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="{{ url_for('static', filename='templates/producto.html') }}">
                  <img src="{{imagen1}}"

                    style='width:265px;height:265px; text-align: center;'>
                </a>
              </figure>
              <div class="product-details" href="producto11a8.html?id=24469">
                <a href="producto11a8.html?id=24469" style="color:black; text-align: center;"><strong>ABRAZADERA DE TOMA
                    EN CARGA</strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto11a8.html?id=24469">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="producto709b.html?id=24468">
                  <img src="{{imagen2}}"

                    style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="producto709b.html?id=24468" style="color:black; text-align: center;"><strong>ABRAZADERA PVC
                    CONCYSSA </strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto709b.html?id=24468">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="productoc0b2.html?id=24467">
                  <img src="{{imagen3}}"

                    style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
              </figure>
              <div class="product-details">


                <a href="productoc0b2.html?id=24467" style="color:black;"><strong> ABRAZADERA PVC RECTANGULAR
                  </strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="productoc0b2.html?id=24467">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="producto590a.html?id=24466">
                  <img src="https://odontistas.000webhostapp.com/caja-registro-concreto-desague-600x600.jpg" style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="producto590a.html?id=24466" style="color:black;"><strong>ADAPTADOR BRIDA HD</strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto590a.html?id=24466">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="productoebc8.html?id=24465">
                  <img src="{{imagen4}}"

                    style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="productoebc8.html?id=24465" style="color:black;"><strong>ADAPTADOR CONECTOR HDPE</strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="productoebc8.html?id=24465">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="producto9ae6.html?id=24464">
                  <img src="../imagenes/sistema/2021/06/Baking-Ring.jpg" style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="producto9ae6.html?id=24464" style="color:black;"><strong>BAKING RING</strong></a>

                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto9ae6.html?id=24464">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="producto1fea.html?id=24463">
                  <img src="../imagenes/sistema/2021/06/Brida-fija-pvc-inyectada.jpg"
                    style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="producto1fea.html?id=24463" style="color:black;"><strong>BRIDA FIJA PVC INYECTADA</strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto1fea.html?id=24463">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>
            <div style="padding:4px;border:1px solid #0093e2;text-align:center;">
              <figure style="text-align:center;">
                <a href="producto57ff.html?id=24462">
                  <img src="../imagenes/sistema/2021/06/Brida-ISO.jpg" style="width: 265px; height: 265px; display: block; margin: 0 auto;">
                </a>
                <!--<div class="label-group">
									<div class="product-label label-hot">HOT</div>
									<div class="product-label label-sale">27% Off</div>
								</div>-->


              </figure>
              <div class="product-details">


                <a href="producto57ff.html?id=24462" style="color:black;"><strong>BRIDA ISO</strong></a>
                <div style="background:#00b9e2;width:100%;padding:3px;">
                  <a style="color:white;font-weight:bold;" target="_blank" href="producto57ff.html?id=24462">VER
                    PRODUCTO</a>
                </div>

              </div><!-- End .product-details -->
            </div>


          </div>




        </div>
      </div>